html{
    background:#018DED url("http://unsplash.it/1500/1000?image=881&blur=50");
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}
body{
    margin: 0px;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 10vh;
    align-items: center;
}
.clock{
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    background: rgba(128, 128, 128, 0.48);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);


}
.clock-face{
    position: relative;
    width: 100%;
    height:100%;
    transform: translateY(-3px);
}
.hand {
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand{
    width: 30%;
    height: 8px;
    margin-left: 20%;
    background: white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.min-hand{
    width: 40%;
    margin-left:10%;
    height: 6px;
    background: black;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.second-hand{
    width: 50%;
    height: 2px;
    background: red;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}
/*after??? zhq*/
.clock-face:after {
    width: 2em;
    height: 2em;
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    content: '';
    background-color: #a8c5d1;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    background-image: url("avatar.jpg");
    background-size: contain;
}
.time{
    width: 50%;
    height: 6px;
     /*background: black;*/
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}
.num{
    width: 30px;
    height: 30px;
    /* background: red; */
    transform: rotate(-90deg);
    /* margin-right: 1.5rem; */
    margin-top: -12px;
    line-height: 30px;
    text-align: center;
    color: white;
    /*background: red;*/
    border-radius: 50%;
}

